*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Figtree;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Figtree;
}

.container{
    height: auto;
    border: 1px solid hsl(0, 0%, 42%);
    background-color: hsl(0, 0%, 100%);
    box-shadow: 8px 8px 2px;
    display: flex;
    flex-direction: column;
}

.image{
    border-radius: 1rem;
    height: auto;    
}

.card--info{
    width: auto;
    padding: 1rem 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: hsl(0, 0%, 7%);
    font-weight: 500;
}

.card--info button{
    background-color: hsl(47, 88%, 63%);
    max-width: 50%;
    padding: 0.3rem 0.5rem;
    border: none;
    border-radius: 5px;
    font-weight: 800;
}

.holder--detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
}

.holder--detail img{
    height: 50px;
    width: 50px;
}


@media screen and (min-device-width: 320px){
    .container{
        width: 50vw;
        padding: 8px;
        border-radius: 20px;
    }

    p{
        font-size: 10px;
    }

    .card--info{
        padding-bottom: 0;
    }

    .card--details h3{
        color: hsl(0, 0%, 7%);
        font-size: 0.8rem;
        font-weight: 800;
    }

    .card--details > p{
        padding: 0.2rem 0;
        font-size: 8px;
    }

    .card--info button{
        font-size: 10px;
    }

    .holder--detail img{
        height: 30px;
        width: 30px;
    }
    
    .attribution{
        font-size: 8px;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        width: 28vw;
        height: auto;
        padding: 1rem;
        border-radius: 20px;
    }
    .card--details h3{
        color: hsl(0, 0%, 7%);
        font-size: 1.5rem;
        font-weight: 800;
    }

    .attribution{
        font-size: 12px;
    }

    p{
        font-size: 16px;
    }

    .card--details > p{
        padding: 1rem 0;
        color: hsl(0, 0%, 42%);
        font-size: 16px;
    }

    .card--info button{
        font-size: 16px;
    }
}